doctype html
html
  head
    link(href="libs/web-presentation.html", rel="import")
    link(href="libs/prism-components.html", rel="import")
    link(href="libs/html-mocks.html", rel="import")
    link(href="styles.css", rel="stylesheet")
  body
    include presentation.jade
    script(src="//localhost:9091") // livereload