/* Global */
.flex {
	display: flex;
}

web-slide {
	background: #F6F6F6;
}

web-slide-title {
	background: #231F20;
}

web-slide-title.sub {
	background: #60d7a9;
	color: rgba(0,0,0,0.5);
}

pre[is="lang-javascript"] {
	font-size: 0.8em;
}

img {
	vertical-align: middle;
}

web-slide > h1, web-slide > h2 {
	color: #333;
	font-size: 3.5em;
}

mockup-browser {
	width: 80%;
	box-shadow: 0px 0px 3px 3px rgba(200, 200, 200, 0.2);
}

web-slide#forms1 li, web-slide#Resources li, web-slide#SlidesAndCode li, web-slide#migration-today li, web-slide#migration-next li {
	text-align: left;
	font-size: 1.5em;
	margin: 10px 0;
}

web-slide::shadow div#content,
web-slide-title::shadow div#content {
      width: 960px;
      height: 700px;
      margin-top: -350px;
      margin-left: -480px;
}

.fullscreen-image {
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
	background-size: cover;	
}

.align-left::shadow div#content {
  justify-content: initial;
  align-items: initial;
  text-align: initial;
  padding: 20px;
}

/* Welcome */
web-slide-title#welcome {
	background: #FF5858;
}
web-slide-title#welcome h1 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.8em;
}
web-slide-title#welcome img {
	width: 30%;
}

.smiley { font-size: 5em; }

/* About us */
web-slide#aboutus {
	background: #000333;
	background: linear-gradient(to right, #000333 0%, #000333 50%, #fafafa 50%, #fafafa 50%, #fafafa 100%);
}
web-slide#aboutus div.left { color: #FFF; }
web-slide#aboutus div.right { color: #333; }
web-slide#aboutus p { font-size: 1.5em; }
web-slide#aboutus img {
	width: 150px;
	border-radius: 50%;
	border: 2px solid #FFF;
}
web-slide#aboutus div.right img { border-color: #EEE; }
web-slide#aboutus .flex > div {
	margin: 0 80px;
}
web-slide#aboutus .desc {
	color: #AAA;
	font-size: 0.8em;
}

/* App Intro */
web-slide#appintro img {
	width: 100%;
}
web-slide#appintro #app {
	position: relative;
}
web-slide#appintro div.highlight {
	display: flex;
  	align-items: center;
  	justify-content: center;
	background: rgba(175, 91, 57, 0.2);
    position: absolute;
    border: 3px solid #FF5252;
	color: #FF5252;
	font-size: 1.5em;
}
web-slide#appintro div.highlight-app {
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
web-slide#appintro div.highlight-navbar {
    top: 0;
	height: 7%;
    left: 0;
    right: 0;
}
web-slide#appintro div.highlight-board {
    top: 8%;
	bottom: 0;
    left: 0;
    right: 0;
}
web-slide#appintro div.highlight-list {
    top: 14%;
	bottom: 0;
    left: 0;
    width: 25%;
}

web-slide-title#topics div#topics-container {
	display: flex;
}
web-slide-title#topics div#topics-container > div{
	background: #FF5252; 
	margin: 20px; 
	padding: 20px;
	font-size: 1.4em;
	border-radius: 3px;
}

web-slide#rip h1, web-slide#rip h2 { color: #FFF; }


/* Tree */
#hierachy svg g#hierachy-list, 
#hierachy svg g#hierachy-button,
#hierachy svg g#hierachy-di 
{
	display: none;
}