/* Global */
.flex {
	display: flex;
}

web-slide {
	background: #F6F6F6;
}

pre[is="lang-javascript"] {
	font-size: 0.8em;
}

img {
	vertical-align: middle;
}

mockup-browser {
	width: 80%;
	box-shadow: 0px 0px 3px 3px rgba(200, 200, 200, 0.2);
}

web-slide::shadow div#content,
web-slide-title::shadow div#content {
      width: 960px;
      height: 700px;
      margin-top: -350px;
      margin-left: -480px;
}

/* Welcome */
web-slide-title#welcome {
	background: #FF5858;
}
web-slide-title#welcome h1 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 2.8em;
}
web-slide-title#welcome img {
	width: 30%;
}

/* About us */
web-slide#aboutus {
	background: #2c2e31;
	color: #FFF;
}
web-slide#aboutus img {
	width: 100px;
	border-radius: 50%;
	border: 2px solid #FFF;
}
web-slide#aboutus .flex > div {
	margin: 10px;
}
web-slide#aboutus .desc {
	color: #AAA;
	font-size: 0.8em;
}

/* App Intro */
web-slide#appintro img {
	width: 100%;
}