web-slide#aboutus
	div.flex
		div.left
			img(src="images/photo-chris.jpg")
			p Michael Lehmann
			p.desc Lorem ipsum dolor sit.
		div.right
			img(src="images/photo-chris.jpg")
			p Christian Kohler
			p.desc Lorem ipsum dolor sit.