web-slide#aboutus
	h2 About Us
	div.flex
		div
			img(src="images/leh.jpg")
			p Michael Lehmann
			p.desc Lorem ipsum dolor sit.
		div
			img(src="images/chko.jpg")
			p Christian Kohler
			p.desc Lorem ipsum dolor sit.