web-slide#aboutus
	div.flex
		div.left
			img(src="images/leh.jpg")
			p Michael Lehmann
			p.desc @lehmamic
		div.right
			img(src="images/chko.jpg")
			p Christian Kohler
			p.desc @KohlerChristian
			
			
web-slide#2009.fullscreen-image(style="background-image: url('images/audience.jpg');")
	h1(style="color: #FFF;") YOU