web-slide-title#caniuse
	h1 Sounds great!
	h2 Can I use Angular2 for my next project?
	
web-slide
	h1 Probably not 
	p.smiley 😢
	
web-slide
	h3 Modern browsers means the set of browsers known as ‘evergreen’ or always automatically updated to the latest version.  Building for these browsers let us drop many hacks and workarounds that make AngularJS harder to use and develop on than it needs to be.
	h3(data-enter="1") The set currently includes Chrome, FireFox, Opera, Safari, and IE10/11.  On mobile, we’ll support something close to the list of Chrome on Android, iOS 6+, Windows Phone 8+ and Firefox mobile.  We’re looking into supporting older versions of Android, but the jury is still out. 	
	
web-slide
	img(src="images/chrome-ng.png")
	
web-slide
	img(src="images/firefox-ng.png")
	
web-slide
	img(src="images/safari-ng.png")
	
web-slide
	h1 Transpiler 
	p ES6/7 to ES3/5
	
web-slide
	img(src="images/caniuse-templates.png")

web-slide
	img(src="images/caniuse-shadowdom.png")
	
web-slide
	h1 Transpiler
	p ES6/7 to ES3/5
	h1(data-enter="1") Polyfills
	p(data-enter="1") For templates, shadow dom, object.observe...
	
web-slide
	h1 Angular2 is work in progress
	h3 Release to be expected in spring 2016