web-slide-title#caniuse
	h1 Sounds great!
	h2 Can I use Angular2 for my next project?
	
web-slide
	h1 Probably not 
	img(src="images/sad.png")
	
web-slide
	h1 Build for evergreen browser
	h3(data-enter="1") Chrome, FireFox, Opera, Safari, IE10/11 	
	h3(data-enter="2") Chrome on Android, iOS 6+, Windows Phone 8+ and Firefox mobile 	
	
web-slide
	img(src="images/chrome-ng.png")
	
web-slide
	img(src="images/firefox-ng.png")
	
web-slide
	img(src="images/safari-ng.png")
	
web-slide
	img(src="images/ie-ng.png")
	
web-slide
	h1 Transpiler 
	p ES6/7 to ES3/5
	
web-slide
	img(src="images/caniuse-templates.png" style="width: 100%;")

web-slide
	img(src="images/caniuse-shadowdom.png" style="width: 100%;")
	
web-slide
	h1 Transpiler
	p ES6/7 to ES3/5
	h1(data-enter="1") Polyfills
	p(data-enter="1") For templates, shadow dom, object.observe...
	
web-slide
	h1 Angular2 is work in progress
	h3 Release to be expected in spring 2016