web-slide-title#intro
	h1 why ng2
	
web-slide#technologies
	h1 Technologies
	div(style="display:flex;")
		div
			h2 2009
			img(src="./images/technologies_old_ng.svg" data-enter="2")
			img(src="./images/technologies_old_base.svg" data-enter="1")
		div
			h2 2015
			img(src="./images/technologies_new_ng.svg " data-enter="4")
			img(src="./images/technologies_new_base.svg " data-enter="3")
	
	
web-slide#caniuse
	h1 caniuse
	
web-slide#rip
	h1 rip
	img(src="./images/rip-286x300.png")