web-slide-title#intro
	h1 Why Angular2?
	
web-slide#2009.fullscreen-image(style="background-image: url('images/barak.jpg'); color: #FFF; ")
	h1(style="font-size:10em; color: white;") Anno 2009	
	
web-slide#technologies2009
	h1 Technologies 2009
	img(src="./images/technologies_old_ng.svg" data-enter="2")
	img(src="./images/technologies_old_base.svg" data-enter="1")
	
web-slide#2009.fullscreen-image(style="background-image: url('images/vnext.jpg'); color: #FFF; ")
	h1(style="font-size:10em; color: white;") Today	
	
web-slide#statement
	h1 &laquo;Our goal with Angular 2 is to make the best possible set of tools for building web apps not constrained by maintaining backwards compatibility with existing APIs.&raquo;
	
web-slide#technologies2015
	h1 Technologies 2015
	img(src="./images/technologies_new_ng.svg " data-enter="4")
	img(src="./images/technologies_new_base.svg " data-enter="3")
	
	
web-slide#caniuse
	h1 caniuse
	
web-slide#rip.align-left.fullscreen-image(style="background-image: url('images/ngeurope.jpg'); color: #FFF; ")
	h1 NgEurope 2014
	div.flex
		img(src="./images/rip1.png" style="margin: 0 20px 20px 0; width: 50%;" data-enter="1")
		img(src="./images/rip2.png" style="margin: 0 20px 20px 0; width: 50%;" data-enter="2")
	div.flex
		img(src="./images/rip3.png" style="margin: 0 20px 20px 0; width: 50%;" data-enter="3")
		img(src="./images/rip4.png" style="margin: 0 20px 20px 0; width: 50%;" data-enter="4")
