web-slide-title#kanbanapp
	h1 kanbanapp
	
web-slide#helloworld
	pre(is="lang-javascript", theme="dark").
		@Component({
		  selector: 'my-app'
		})
		@View({
		  template: '<h1>Hello {{ name }}</h1>'
		})
		// Component controller
		class MyAppComponent {
		  name: string;
		  
		  constructor() {
		    this.name = 'Alice';
		  }
		}
		
web-slide#hierachy
	h1 hierachy
	
web-slide#di
	h1 di
	
web-slide#directives
	h1 directives
	
web-slide#properties
	h1 properties
	
web-slide#forms
	h1 forms
	
web-slide#interrail
	h1 interrail