web-slide-title#migraton
	h1 migraton

web-slide#migraton-today
	h1 Prepare yourself for the future!
	ul
		li Use controller as syntax
		li Use ES6/7 or TypeScript

web-slide#migration-next	
	h1 Hotlist Angular 1x Migration	
	ul	
		li The New Angular Router (coming with Angular 1.5 or 1.6)
		li Components in Angular 1.X
		li Google works on automated mirgation tools
			