web-slide.fullscreen-image(style="background-image: url('images/tesla.jpg'); ")
	h1(style="color: #FFF; text-shadow: 1px 1px #333;") Angular2
	h1(style="color: #FFF; text-shadow: 1px 1px #333;") The framework for your after next project

web-slide-title#questions
	h1 questions