web-slide#Sources
	h1 Sources
	ul
		li
			a(href="https://angular.io/") https://angular.io/
		li
			a(href="https://github.com/angular/angular") https://github.com/angular/angular
			
		li
			a(href="https://github.com/timjacobi/angular2-education") https://github.com/timjacobi/angular2-education
		li
			a(href="https://docs.google.com/document/d/19jHbsXeYj2QiZ-cGS_mA3nyaU86gLeonjU2Tfzm1J5Y/mobilebasic") https://docs.google.com/document/d/19jHbsXeYj2QiZ-cGS_mA3nyaU86gLeonjU2Tfzm1J5Y/mobilebasic