web-slide-title#topics
	h1 topics
web-slide#appintro
	mockup-browser
		div#app
			img(src="images/kanban-app-screenshot.png")
			div(data-enter="1", data-exit="2", class="highlight highlight-app") Application
			div(data-enter="2", data-exit="3", class="highlight highlight-navbar") Navbar
			div(data-enter="3", data-exit="4", class="highlight highlight-board") Board
			div(data-enter="4" class="highlight highlight-list") List