web-slide-title#topics
	h1 topics
web-slide#appintro
	mockup-browser
		div#app
			img(src="images/kanban-app-screenshot.png")
			//div.highlight.highlight-app Application
			div.highlight.highlight-navbar Navbar
			div.highlight.highlight-board Board
			div.highlight.highlight-list List