web-slide-title#topics
	h1 What do we show you today?
	div#topics-container
		div(data-enter="1") Why Angular2?
		div(data-enter="2") Kanban App
		div(data-enter="3") Migration Path
		
web-slide.fullscreen-image(style="background-image: url('images/iceberg.jpg');")