web-slide#appintro
	mockup-browser
		div#app
			img(src="images/kanban-app-screenshot.png")
			div(data-enter="1", data-exit="2", class="highlight highlight-app") Application
			div(data-enter="2", data-exit="3", class="highlight highlight-navbar") Navbar
			div(data-enter="3", data-exit="4", class="highlight highlight-board") Board
			div(data-enter="4" class="highlight highlight-list") List
			
			
web-slide
	div.flex
		div(style="width: 200px; margin: 5px; padding: 20px; background: #60d7a9; font-color: rgba(0,0,0,0.5)") Component
		div(style="width: 200px; margin: 5px; padding: 20px; background: #60d7a9; font-color: rgba(0,0,0,0.5)") Dependency Injection
	div.flex
		div(style="width: 200px; margin: 5px; padding: 20px; background: #60d7a9; font-color: rgba(0,0,0,0.5)") Templates
		div(style="width: 200px; margin: 5px; padding: 20px; background: #60d7a9; font-color: rgba(0,0,0,0.5)") Properties
	div.flex
		div(style="width: 200px; margin: 5px; padding: 20px; background: #60d7a9; font-color: rgba(0,0,0,0.5)") Form