web-slide-title.sub
	h1 Component
		
web-slide#hierachy
	h1 Components Hierachy
	svg(width="70%" viewBox="0 0 1052.3622 744.09448")
		include ./../../images/tree/appnode.svg
		g(data-enter="1")
			include ./../../images/tree/navnode.svg
		g(data-enter="2")
			include ./../../images/tree/boardnode.svg
	
include ./helloworld.jade

web-slide
	h1 So a component is like a directive?
	p(style="font-size: 2em;", data-enter="1") A component is a directive with a view.
	pre(is="lang-javascript", theme="dark", data-enter="2").
		@Directive({selector: '[ng-if]', properties: ['ngIf']})
		class NgIf {
			constructor() {}
			}
		}

include ./codingtime.jade