web-slide-title#kanbanapp
	h1 Kanban App

include ./appintro.jade

include ./component.jade
	
include ./di.jade
			
include ./templates.jade		

web-slide-title.sub
	h1 Directives
	p So we still have directives?
	
web-slide#directives
	h1 Directives
	svg(width="70%" viewBox="0 0 1052.3622 744.09448")
		include ./../../images/tree/appnode.svg
		include ./../../images/tree/navnode.svg
		include ./../../images/tree/boardnode.svg
		include ./../../images/tree/dinode.svg
		g(data-enter="1")
			include ./../../images/tree/listnode.svg
	
include ./propertiesandevents.jade	
	
web-slide-title.sub
	h1 Forms

web-slide#forms
	svg(width="70%" viewBox="0 0 1052.3622 744.09448")
		include ./../../images/tree/appnode.svg
		include ./../../images/tree/navnode.svg
		include ./../../images/tree/boardnode.svg
		include ./../../images/tree/dinode.svg
		include ./../../images/tree/listnode.svg
		g(data-enter="1")
			include ./../../images/tree/buttonnode.svg
	
web-slide#forms1
	h1 Form
	ul
		li No digest cycle
		li reactive (event based)
		li data driven
	
web-slide#forms2
	h1 Forms
	img(src="images/forms_diagram.png")