web-slide-title#kanbanapp
	h1 kanbanapp

include ./helloworld.jade
		
web-slide#hierachy
	h1 Components Hierachy
	img(src="images/hierachy-components.svg", width="70%")
	
web-slide#di
	h1 Dependency Injection
	img(src="images/hierachy-di.svg", width="70%")
	
include ./templates.jade		
	
web-slide#directives
	h1 Directives
	img(src="images/hierachy-directives.svg", width="70%")
	
include ./propertiesandevents.jade	
	
web-slide#properties
	h1 properties
	
web-slide#forms1
	h1 forms
	ul
		li No digest cycle
		li reactive (event based)
		li data driven
	
web-slide#forms2
	h1 forms
	img(src="images/forms_diagram.png")
	
web-slide#events
	h1 events
	
web-slide#interrail
	h1 interrail