web-slide#templateyntax1
	h1 Template Syntax (1/2)
	| Some theory about Directives
	
web-slide#localvariables
	H2 Local Variables
	pre(is="lang-javascript", theme="dark").
		&lt;video-player #player&gt;&lt;/video-player&gt;
		&lt;button (click)=&quot;player.pause()&quot;&gt;Pause&lt;/button&gt;
		
web-slide#directivesandtemplates
	H2 Templates And *
	pre(is="lang-javascript", theme="dark")
		= '<todo-cmp *ng-for="#t of todos; #i=index" [model]="t" [index]="t"></todo-cmp>'
		
	which de-sugars into
	pre(is="lang-javascript", theme="dark").
		&lt;template ng-for ngForOf=&quot;todos&quot; #t=&quot;$implicit&quot; #index=&quot;i&quot;&gt;
			&lt;todo-cmp [model]=&quot;t&quot; [index]=&quot;i&quot;&gt;&lt;/todo-cmp&gt;
		&lt;/template&gt;	